
.course-grid {
  display: flex;
}

h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
/* column container */
.colmask {
	position:relative;
	clear:both;
	float:left;
	width:100%;			
	height: 100%;
	
}

.colleft {
	float:left;
	width:30%;
	position:relative;
	height: 100%;
}
.leftmenu .colleft {

	background:#f4f4f4;	
}
.leftmenu .col1 {
	float: left; /* Обтекание справа */
	width: 100%; /* Ширина колонки */
}

.colright {
	float:right;
	width:70%;
	position:relative;
}
