.lesson-content p.Normal {
    font-size: 1.3em;
}

.lesson-content {
    margin-top: 80px;
}

.test-question {
    margin-top: 30px;
    margin-bottom: 65px;    
    font-size: 2em;
}

.test-answers {
    font-size: 1.7em;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-arrow {
    display:flex;
    color: white; 
    flex-direction:row;
    position:absolute;
    bottom:20px;
    justify-content:center;
    width:100%;
    padding: 10px 0px;
}

.back-arrow > p {
    margin-bottom: 0;
}

.back-arrow:hover {
    background: rgba(255,255,255,0.2);
}

.back-arrow:hover > div.back-arrow-img {
    color: #FFF;
    opacity: 1;
}