.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 0;
    height: 50px;
    background: gray;
    max-width: 100vw;
    flex-direction: row;
    align-items: center;
    padding: 5px 25px;
    z-index: 90;
    box-shadow: 0 0 15px black;
}

.navbar .left-navbar{
    width: 30%;
    font: 1.7em sans-serif;
    display:flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar .nav-links{
    font: 1.7em sans-serif;
    display:flex;
    width: 70%;
    justify-content: flex-end;
    margin-left: auto;
}

.navbar .nav-links * {
    cursor: pointer;
}

.navbar .nav-links>.nav-signout{
    background: url(../assets/img/logout.png) no-repeat;
    background-size: 32px 32px;
    width:32px;
    height: 32px;
}

.navbar p {
    color:white;
    font: 1.7em sans-serif;
    width: fit-content;
    
}

.app-bar {
    background-color: green;
}