/* profile page css */
.landing-grid {
  background: #12A14C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#12A14C, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #12A14C, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-right: 0px;
  width: 100%;
  height: 100%;
  padding-left:48px
}

.avatar-img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding-top: 5em;
  background-size: cover;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 0;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text h2{
  font-size: 3em;
  font-weight: bold;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 5px;
  transition: none;
}

.user-info ,
.active-courses{
  background: rgba(240,240,240,0.7);
  background-origin: content-box;
  border-radius: 15px;
  height: fit-content;
}

.active-courses {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.active-courses h2{
  font-size: 3em;
  margin-bottom: 15px;
}

.active-courses hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
}

.courses-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;
}



.progress-block{
  padding: 15px 10px;
  width: 12em;
  min-width:12em;
  margin-right: 15px;
}

.progress-block:last-of-type{
  margin-right: 0px;
}

.progress-block h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.7em;
  margin-bottom:0px;
}

.progress-block.tooltip::after {
  background: rgba(0, 0, 0, 0.8);
	border-radius: 8px 8px 8px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
	margin-top: -24px;
	opacity: 0; /* Наш элемент прозрачен... */
  padding: 3px 7px;
  font-size:1.5em;
	position: absolute;
	visibility: hidden; /* ...и скрыт. */
}

		
.tooltip:hover::after {
	opacity: 1; /* Показываем его */
	visibility: visible;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 0.1em;
  margin-bottom: 5px;
}

.banner-text p:last-child{
  padding-bottom:20px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
