@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css');

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(18,161,78)  ;
  }
.authContainer {
    width: 700px;
    overflow: hidden;
    margin: 80px auto 30px;
    background-color: #ffffff;
    border-top-left-radius: 90px;
    -webkit-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
}
.leftBox {
    width: 300px;
    height: 480px;
    float: left;
    position: relative;
    display: block;
}
.bgGreen {
    width: 100%;
    height: 100%;
    background-color: rgb(19,170,82);
    border-top-left-radius: 90px;
}
.imageAuth{
    background-image: url("../assets/img/image_signin.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 90px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}
.imageRegister{
    background-image: url("../assets/img/image_signin.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 90px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}
.imageText{
    font-size: 28px;
    position: absolute;
    color: #ffffff;
}
.imageText.bold {
    font-weight: bold;
}
.imageText.style1 {
    top: 200px;
    left: 20px;
}
.imageText.style2 {
    top: 250px;
    left: 200px;
}
.rightBox {
    width: 398px;
    height: 478px;
    float: right;
    border: 1px solid #59c385;
}
.form {
    width: 310px;
    height: 415px;
    margin: 32px auto;
}
.titleAuth{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    color: #116149;
}
.inputSBox {
    width: 300px;
    height: 42px;
     border-bottom: 2px solid #d8d8d8;
    margin-bottom: 10px;
}
.inputS {
width: 100%;
height: 98%;
font-size: 14px;
color: #37353f;
text-indent: 10px;
border: 0;
outline: none;
}
.contentBox {
    overflow: hidden;
    height: 42px;
    margin-bottom: 30px;
}
.checkBoxContainer {
    overflow: hidden;
    float: left;
}
.checkBox {
    float: left;
}
.checkBoxLabel {
    float: left;
    font-size: 14px;
    margin-left: 5px;
    color: #37353f;
}
.text1 {
float: right;
font-size: 14px;
color: #006cbc;
cursor: pointer;
}
.btnAuth {
    width: 300px;
    height: 47px;
    color: #ffffff;
    background-color: rgb(18,161,78);
    text-align: center;
    line-height: 47px;
    border-radius: 4px;
    transition: 0.3s linear all;
    box-shadow:darkslategrey;
    cursor: pointer;
}

.btnAuth:hover {
    background-color: blue;
    box-shadow: none;
    transform: scale(.95);
}

.btnAuth :focus {
    outline: none;
}

.btnAuth.register {
    margin-top: 30px;
}

.borderBox {
    width: 300px;
    height: 47px;
    position: relative;
    margin: 20px 0;
}
.line {
    border-bottom: 2px solid #d8d8d8;
    position: absolute;
    top: 22px;
    width: 100%;
}
.text2 {
    font-size: 14px;
    color: #818487;
}
.text2.or {
    position: absolute;
    top: 14px;
    left: 140px;
    width: 25px;
    height: 16px;
    background-color: #ffffff;
    text-align: center;
}
.socialMediaBox {
    overflow: visible;
    width: 184px;
    height: 65px;
    margin: 0 auto;
}
.icAuth {
width: 51px;
height: 55px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
float: left;
margin-right: 30px;
cursor: pointer;
}

.icAuth:hover {
    transform: scale(1.07);
}
.icAuth:active {
    transform: scale(.95);
}

.icAuth.last-child {
    margin-right: 0;
}
.icAuth.google {
    background-image: url("../assets/img/ic_google.png");
}
.icAuth.facebook {
    background-image: url("../assets/img/ic_facebook.png");
}

@media screen and (max-width: 768px) {
    .authBox {
        width: 100%;
    }
    .leftBox {
        display: none;
    }
    .rightBox {
        width: 100%;
        float: initial;
        border: 0;
    }
}