@import './styles/home.css';
@import './styles/signin.css';
@import './styles/profile.css';
@import '../node_modules/react-responsive-modal/styles.css';
@import '../node_modules/react-mdl/extra/material.css';
@import '../node_modules/video-react/dist/video-react.css';
@import '../node_modules/react-alice-carousel/lib/alice-carousel.css';
@import './styles/navbar.css';
@import './styles/modal.css';
@import './styles/course.css';
@import './styles/lesson.css';
@import './styles/timer.css';

body {
  position: absolute;
  top: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body * {
  transition: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
